<% i = 0 %>
<div id="tf-portfolio">
    <div class="container">
        <div class="section-title">
            <h3>人気作品</h3>
        </div>

        <div class="space"></div>
        <% i = 0 %>
        <% @popular_products.each do |product| %>
			<div class="row toppadding">
	            <div class="col-md-12">
		            <a href="/products/<%=product.id%>">
						<canvas id="canvas<%=i%>" width="320px" height="320px"">
						<%=product.source_code%>
						</canvas>
					</a>
					<%= button_tag type: 'button', onclick: "runByCanvasText(#{i})", class: "btn btn-primary my-btn dark" do %>Run<% end %>
					<%= button_tag type: 'button', onclick: "stop(#{i})", class: "btn btn-primary my-btn dark" do %>Stop<% end %>
	            </div>
				<% i += 1 %>
	        </div>
		<% end %>

		<div class="row toppadding">
        	<div class="col-md-16">
        		<%= link_to 'もっと見る', '/products/fresh_products', class: "btn btn-primary my-btn dark", method: :get %>
        	</div>
        </div>
    </div>
</div>

<div id="tf-portfolio">
    <div class="container">
        <div class="section-title">
            <h3>新着作品</h3>
        </div>

        <div class="space"></div>
        <% @popular_products.each do |product| %>
			<div class="row toppadding">
	            <div class="col-md-12">
		            <a href="/products/<%=product.id%>">
						<canvas id="canvas<%=i%>" width="320px" height="320px"">
						<%=product.source_code%>
						</canvas>
					</a>
					<%= button_tag type: 'button', onclick: "runByCanvasText(#{i})", class: "btn btn-primary my-btn dark" do %>Run<% end %>
					<%= button_tag type: 'button', onclick: "stop(#{i})", class: "btn btn-primary my-btn dark" do %>Stop<% end %>
	            </div>
				<% i += 1 %>
	        </div>
		<% end %>

        <div class="row toppadding">
        	<div class="col-md-16">
        		<%= link_to 'もっと見る', '/products/fresh_products', class: "btn btn-primary my-btn dark", method: :get %>

        	</div>
        </div>

    </div>
</div>