<div>
	<div>
		<h1><%= @product.product_name %></h1>
		<table><tr>
			<td>
				<canvas id="canvas0" width="320px" height="320px"">
				<%=@product.source_code%>
				</canvas>
			</td>
			<td><div align=right>
				<%= button_tag type: 'button', onclick: "runByCanvasText(0)" do %>実行<% end %>
				<%= button_tag type: 'button', onclick: "stop(0)" do %>停止<% end %>
			</div></td>
		</tr></table>
		<div><p>作成者: <%= @product.user.nickname %></p></div>

		<div>
			<h2>平均評価</h2>
		</div>
		<div></div>

		<% unless current_user.reviews.find_by(product_id: @product.id) %>
		    <%= form_tag('/reviews/'+@product.id.to_s(10)+'/create', method: :post) do %>
			    <h3>評価する</h3>
			    <input placeholder="ProductName" type="text" name="product_name">
			    <p>星</p>
			    <textarea cols="30" name="review" placeholder="text" rows="10"></textarea>
			    <input type="submit" value="SENT">
			<% end %>
		<% end %>

		<% if current_user.id == @product.user.id %>
			<div>
				<%= link_to '/products/'+@product.id.to_s(10)+'/destroy', method: :delete do %>
					<h4>この作品を削除する</h4>
				<% end %>
			</div>
			<div>
				<%= link_to '/products/'+@product.id.to_s(10)+'/edit', method: :get do %>
					<h4>編集する</h4>
				<% end %>
			</div>
		<% end %>
	</div>
</div>