<% if user_signed_in? %>
  <div class='navbar navbar-default navbar-fixed-top'>
    <div class='container'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-responsive-collapse'>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <div>
        <%= link_to root_path, :class => 'navbar-brand' do %>
          <%= image_tag 'logo.png' %>
        <% end %>
        <small class='hidden-xs hidden-sm'>みんなの作品を見てみよう！</small>
      </div>
      <div class='navbar-collapse collapse navbar-responsive-collapse navbar-right'>
        <ul class='nav navbar-nav'>
          <li><%= link_to 'HOME', root_path %></li>
          <li><%= link_to 'MyPage', '/users/'+current_user.id.to_s(10) %></li>
          <li><%= link_to '作品の投稿', new_products_path %></li>
          <li><%= link_to 'ログアウト', '/users/sign_out', method: :delete %></li>
        </ul>
      </div>
    </div>
  </div>

<% end %>