<!DOCTYPE html>
<html>
<head>
  <title>Pcontest</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'processing.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>

  <!-- make views -->
  <style type="text/css">
  body { padding-top: 80px; }
  @media ( min-width: 768px ) {
    #banner {
      min-height: 300px;
      border-bottom: none;
    }
    .bs-docs-section {
      margin-top: 8em;
    }
    .bs-component {
      position: relative;
    }
    .bs-component .modal {
      position: relative;
      top: auto;
      right: auto;
      left: auto;
      bottom: auto;
      z-index: 1;
      display: block;
    }
    .bs-component .modal-dialog {
      width: 90%;
    }
    .bs-component .popover {
      position: relative;
      display: inline-block;
      width: 220px;
      margin: 20px;
    }
    .nav-tabs {
      margin-bottom: 15px;
    }
    .progress {
      margin-bottom: 10px;
    }
  }
  </style>

  <script type="text/javascript">
    $('.bs-component [data-toggle="popover"]').popover();
    $('.bs-component [data-toggle="tooltip"]').tooltip();
  </script>

  <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- make views -->

  <%= csrf_meta_tags %>

  <script type="text/javascript">
    var Pjs;
    function stop(){ // not work
      if (Pjs)
        Pjs.exit();
    }
    function run(){
      //console.log("Run");
      stop();
      var canvas = document.getElementById('canvas0');
      var code = document.getElementsByName('source_code')[0].value
      //console.log(code);
      try{
        Pjs = new Processing(canvas, code);
        //console.log(Pjs);
      }catch(e){
        alert(e);
      }
    }
  </script> 
</head>

<body>
  <%= render partial: 'common/header' %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

  <%= render partial: 'common/footer' %>

</body>
</html>
